h1{
    background-color: maroon;
   text-align: center;
   color: whitesmoke;
   padding: 20px 30px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
div{
    border:1px solid black;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    background-color: white;


}
img{
    width:400px;
}
h5{
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
}